# Dependency folders
/node_modules
/.pnp
.pnp.js

# Builds & Output
/.next/
/out/
/build
/dist

# Secret Environment Variables
.env
.env*.local
.env.production

# System files & Logs
npm-debug.log*
yarn-debug.log*
.DS_Store
